
<h2>Dokumentation av Transaktioner</h2>
<table>
    <thead>
        <tr>
            <th>Artikelnummer</th>
            <th>Titel</th>
            <th>Beskrivning</th>
            <th>Pris</th>
            <th>Moms</th>
            <th>Enhet</th>
            <th>Skapad</th>
            <th>Uppdaterad</th>
        </tr>
    </thead>
    <tbody>
        <!-- Anta att 'transactions' är en variabel som innehåller vår data -->
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.item_no</td>
                <td>@item.title</td>
                <td>@item.description</td>
                <td>@item.price</td>
                <td>@item.vat %</td>
                <td>@item.unit</td>
                <td>@item.created_at</td>
                <td>@item.updated_at ?? "Ej uppdaterad"</td>
            </tr>
            }
    </tbody>
</table>